<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Restaurantes')}">
</head>

<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0" th:text="${saludo}">Restaurantes</h1>
        <span class="badge bg-secondary fs-6"
              th:text="|${#lists.size(restaurants)} resultados|">0 resultados</span>
    </div>
    <div class="mb-3">
        <h5>Filtros rapidos</h5>
        <a th:href="@{/restaurants(price=15)}" class="btn btn-primary btn-sm">Hasta 15$</a>
        <a th:href="@{/restaurants(price=30)}" class="btn btn-primary btn-sm">Hasta 30$</a>

        <a th:href="@{/restaurants(title='pizza')}" class="btn btn-secondary btn-sm">
            <i class="fa-solid fa-pizza-slice"></i>Pizza</a>
        <a th:href="@{/restaurants(title='burger')}" class="btn btn-secondary btn-sm">
            <i class="fa-solid fa-burger"></i>Burger</a>
        <a th:href="@{/restaurants(title='sushi')}" class="btn btn-secondary btn-sm">
            <i class="fa-solid fa-shrimp"></i>Sushi</a>

        Filtro por foodType tipo de comida: SPANISH, JAPANESE, MEXICAN
        <a th:href="@{/restaurants(foodType='SPANISH')}" class="btn btn-light btn-sm">Spain</a>
        <a th:href="@{/restaurants(foodType='JAPANESE')}" class="btn btn-light btn-sm">Japonesa</a>
        <a th:href="@{/restaurants(foodType='MEXICAN')}" class="btn btn-light btn-sm">Mexicana</a>

        <h5>Filtros avanzados</h5>


    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col" th:each="restaurant : ${restaurants}">
            <div class="card card-restaurant h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-store text-primary me-2"></i>
                        <span th:text="${restaurant.name}">Nombre</span>
                    </h5>
                    <p class="card-text">
                                <span class="badge bg-success">
                                    <i class="fa-solid fa-euro-sign me-1"></i>
                                    <span th:text="${restaurant.averagePrice}">0</span>
                                </span>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0 pt-0">
                    <a th:href="@{/restaurants/{id}(id=${restaurant.id})}"
                       class="btn btn-outline-primary btn-sm w-100">
                        <i class="fa-regular fa-eye me-1"></i> Ver restaurante
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>
