<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle Restaurante</title>
</head>
<body>
<h1>Hola terricolas :)</h1>
<p th:text="'Nombre: ' + ${restaurante.name}"></p>
<p th:text="'Precio: '+ ${restaurante.averagePrice != null ? restaurante.averagePrice +'$': 'Sin precio'}"></p>
<p th:if="${restaurante.active}">Estado: <span style="color: lightskyblue">Abierto</span></p>
<p th:unless="${restaurante.active}">Estado: <span style="color: indianred">Cerrado</span></p>

<p th:text="${restaurante.foodType != null ? restaurante.foodType.label : 'Sin definir.'}"></p>

<!--ENUM, con label para mostrar mejor su texto-->
<p th:text="${restaurante.foodType.label}"></p>
<!-- SWITCH -->
<p th:switch="${restaurante.foodType}">
    <span th:case="${T(com.restaurante.restaurantetesting.model.enums.FoodType).SPANISH}">🐂 Cocina espanola</span>
    <span th:case="${T(com.restaurante.restaurantetesting.model.enums.FoodType).JAPANESE}">🏯 Cocina japonesa</span>
    <span th:case="${T(com.restaurante.restaurantetesting.model.enums.FoodType).MEXICAN}">🌶️ Cocina mexicana</span>
    <span th:case="${T(com.restaurante.restaurantetesting.model.enums.FoodType).ARGENTINIAN}">⭐⭐⭐ Cocina Argentina</span>
    <span th:case="*">Sin definir</span>
</p>


<h2>Carta de platos</h2>
<p  th:if="${dishes.isEmpty()}">No hay platos en este restaurante.</p>
<!-- Bucle para mostrar los platos en una tabla-->

<table th:unless="${dishes.isEmpty()}">
    <!--La cabecera de la tabla, aqui van los nombres de las cabeceras-->
    <thead>
    <!--Esto es una fila dentro de la cabecera-->
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Imagen</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}"></td><td>
            <td th:text="${dish.name}"></td><td>
            <td th:text="${dish.description != null ? dish.description : 'Sin descripcion '}"></td>
            <td th:if="${dish.active}">Disponible</td>
            <td th:unless="${dish.active}">Agotado</td>
            <td>
                <img th:src="${dish.imageUrl != ? dish.imageUrl : 'https://dummyjson.com/image/100'}"
                alt="Imagen del plato"
                width="100"/>
            </td>

            <td th:text="${dish.type}"></td>
            <td></td>

        </tr>
    </tbody>

</table>
<p th:switch="${}">
    <span th:case="${T(com.restaurante.restaurantetesti)}"></span>
</p>

</body>
</html>